/* style.css */
.discount__container {
    display: flex;
    justify-content: space-between;
    grid-gap: 20px;
    min-width: 620px;
    height: 86px;
    background-color: var(--color-background-secondary);
    border-radius: 6px;
    padding: 12px;
    padding-left: 32px;
    margin-top: 8px;
    margin-bottom: 102px;
}

.discount__wrap-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    line-height: 1.3;
    width: 110px;
}

.discount__wrap-two {
    display: flex;
    align-items: center;
}

.discount__price-label {
    font-weight: var(--font-weight-regular);
}

.discount__price-value {
    padding-left: 8px;
}

.discount__price-content {
    display: contents;
}

.discount__old-price {
    text-decoration: line-through;
    color: var(--color-text-secondary);
    line-height: 1.25;
}

.vertical-line {
    width: 1px;
    height: 62px;
    margin-right: 19px;
    background-color: var(--color-text-secondary);
}

.discount__button {
    padding: 20px 50px;
}

.buttons__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

.cart__count {
    padding: 15px 26px;
}