/* faq.css */
.faq {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 60px 0; 
}

.faq__tytle {
  color: var(--color-link-primary);
}

h1 {
  font-weight: var(--font-weight-bold);
}

.faq__text {
  color: var(--color-link-primary);
  font-weight: var(--font-weight-semibold);
}