/* faq.css */
.faq {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  max-width: 880px;
  width: 100%;
}

.faq__title{
  padding-bottom: 20px;
  font-weight: var(--font-weight-bold);
}
.faq__item,
.faq__title {
  border-bottom: 1px solid #ccc;
}

.faq__item {
  display: flex;
  flex-direction: column;
}
.item{
  padding: 20px 0;
}
.answer{
  padding: 20px 0 0;
  white-space: pre-wrap; 
  font-weight: var(--font-weight-semibold);
}
.faq__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  flex-wrap: wrap;
}

.question {
  font-weight: var(--font-weight-regular);
}

@media (max-width: 768px) {
  .faq {
    max-width: 400px;
height: fit-content;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .faq {
    max-width: 600px;
  }
}