/* faq.css */
.faq {
  display: flex;
  flex-direction: column;
  padding: 68px 0;
  max-width: 880px;
  width: 100%;
}

.faq__title {
  padding-bottom: 20px;
  font-weight: var(--font-weight-bold);
}

.faq__item,
.faq__title {
  border-bottom: 1px solid #ccc;
}

.faq__item {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 17px 0;
}

.answer {
  white-space: pre-wrap;
  font-weight: var(--font-weight-semibold);
  line-height: 1.6;
  opacity: 0; 
  max-height: 0;
  transition: max-height 0.7s ease, opacity 0.7s ease; 
  overflow: hidden;
}

.answer.expanded {
  padding: 18px 0 0;
  opacity: 1;       
  max-height: 500px; 
}

.faq__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  flex-wrap: wrap;
}

.faq__header img {
  transition: transform 0.7s ease; 
}
.faq__header img.rotate {
  transform: rotate(90deg); 
}
.question {
  font-weight: var(--font-weight-regular);
  line-height: 1.9;
}

@media (max-width: 768px) {
  .faq {
    height: fit-content;
  }
}