/* button.css */
button {
  align-self: flex-start; 
  background-color: var(--color-button-background-active);
  color: var(--color-link-primary); 
  border-radius: var(--border-radius-button);
  border: none;
  padding: 1.25rem 3.13rem; 
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
font-size: var(--font-size-m);
}

.button:hover {
  background-color: var(--color-button-background-hover);
}

.button--disabled {
  background-color: var(--color-button-background-default);
  pointer-events: none; 
}
