/* main.css */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.6rem;
  padding-bottom: 5rem;
}

.block__up {
  display: flex;
  height: 500px;
  width: 100%;
  color: var(--color-link-primary);
  padding: 0 130px;
}

.block__midle {
  display: flex;
  flex-direction: column;
  min-height: auto;
  padding: 48px 130px;
  gap: 48px;
  background-color: var(--color-link-primary);
}

.block__down {
  display: flex;
  justify-content: center;
  height: 508px;
  width: 100%;
  color: var(--color-link-primary);
  padding: 0 calc(280px / 100vw * 100%);
}
.card-grid {
  grid-gap: 35px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .block__down {
    justify-content: start;
    padding: 0 40px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .block__down {
    justify-content: start;
    padding-left: 60px;
  }
}

@media (max-width: 1439px) {
  .block__down {
    width: 80%;
  }
}