.layout {
  display: flex;
  flex-direction: column;
  padding: 3rem 8.12rem;
  width: 100%;
  background-color: var(--color-link-primary);
}

@media (max-width: 768px) {
  .layout {
    padding: 3rem 3rem;
  }
}