.one__product-content {
  display: grid;
  grid-template-columns: 520px auto;
  grid-gap: 40px;
}

.one__product--large {
  max-width: 520px;
}
.one__product-main-image {
  max-height: 520px;
  width: 100%;
  object-fit: cover;
  object-position: center; 
  border: 1px solid var(--color-link--primary-hover);
  border-radius: 0.38rem;
  overflow: hidden; 
}

.one__product-slider {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
}

.one__product-thumb {
  width: 70px;
  height: 70px;
}

.one__product--small {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 620px;
}
.one__product-subtitle{
  font-weight: var(--font-weight-semibold);
  line-height: 1.67;

}
.one__product-rating {
display: flex;
justify-content: space-between;
}

.one__product-star{
  fill: gray; 
  padding-right: 0.53rem;
}
.one__product-star.active {
  filter: brightness(1); 
}

.one__product-star.inactive {
  filter: brightness(1); 
}
.one__product-star-text{
  font-weight: var(--font-weight-regular);
  line-height: 1.67;
  color: var(--color-text-secondary);
}

.one__product-description{
  font-weight: var(--font-weight-semibold);
  line-height: 1.34;
  color: var(--color-button-background-active);
  border-top: 1px solid var(--color-link--primary-hover);
  border-bottom: 1px solid var(--color-link--primary-hover);
  padding: 17px 0;
}
.one__product-warranty,
.one__product-ships{
  font-size: var(--font-size-m); 
  font-weight: var(--font-weight-regular);
  line-height: 1.3;
  padding-top: 10px;
}

.one__product-info{
  font-size: var(--font-size-l); 
  font-weight: var(--font-weight-regular);
  line-height: 1.7;
padding-top: 4px;
}
.one__product-ships{
padding-top: 4px;
}

@media (max-width: 980px) {
  .one__product-content {
    grid-template-columns: 1fr;
  }
}