/* catalog.css */
.catalog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: auto;
  gap: 48px;
  background-color: var(--color-link-primary);
  top: 0;
}

.catalog__card-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px 35px;
  justify-content: space-between;
  /* grid-template-columns: repeat(auto-fit, clamp(150px, 30%, 350px)); */
}

.catalog__button{
  display: flex;
  justify-content: center;
}

.catalog__button-show{
  padding: 20px 50px;
}

@media (max-width: 768px) {
  .main {
    min-width: 100vw;
  }
  .card__grid {
    grid-gap: 20px;
  }
  .block__down {
    width: 90%;
  }
}

@media (max-width: 1025px) {
  .main {
    min-width: 100vw;
  }
  .block__midle {
    padding: 48px 90px;
  }
  .card__grid {
    grid-gap: 25px;
  }
}