/* 404.styles */
.page__404 {
    height: 100%;
    background-color: var(--color-background-primary);
    padding-top: 4%;
}

.page__404-svg {
    width: 40%;
    border-radius: 50%;
    box-shadow: 0 0 100px rgba(238, 64, 232, 0.5);
}

.page__404,
.page__404-svg {
    display: flex;
    justify-content: center;
    align-items: center;
}