/* baner.css */
.baner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 115px 130px; 
  background-color: var(--color-background-primary);
}

.baner__title {
  color: var(--color-link-primary);
  font-weight: var(--font-weight-regular);
  line-height: 1.4;
}

.baner__text {
  color: var(--color-link-primary);
  font-weight: var(--font-weight-semibold);
  line-height: 1.5;
}

.baner__button{
  align-self: flex-start;
  padding: 20px 50px;
}