/* baner.css */
.baner {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  padding: 115px 0; 
}

.baner__title {
  color: var(--color-link-primary);
}

h1 {
  font-weight: var(--font-weight-regular);
}

.baner__text {
  color: var(--color-link-primary);
  font-weight: var(--font-weight-semibold);
}

.button{
  padding: 1.25rem 3.13rem;
}